<ion-header>
  <ion-toolbar color="primary">
    <ion-title translate>site.myopinion</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-slides #slides [options]="slideAchivement" pager="false" >
    <ion-slide *ngFor="let dat of answers" >
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
        <!-- <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
          </ion-col>
        </ion-row> -->
        <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
            <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b'}">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer1}}</h3>

      </ion-label>
      <ion-button size="small" slot="end" (click)="action2(dat.answer1,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer2}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action2(dat.answer2,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer3}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action2(dat.answer3,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer4}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action2(dat.answer4,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card  style="margin:10px;" color="primary">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer}}</h3>
      </ion-label>
     
    </ion-item>
  </ion-card>


  <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#f0da93; margin:10px">
    <ion-row>
      <!-- <h5><ion-text color="dark">People's Vote</ion-text></h5> -->
      <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis"></apx-chart>
    </ion-row>
  </ion-card>

  
      </div>
    </ion-slide>
  </ion-slides>

  
  <ion-slides #slides [options]="slideAchivement" pager="false" >
    <ion-slide *ngFor="let dat of answer2">
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
        <!-- <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
          </ion-col>
        </ion-row> -->
        <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
            <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.vs1}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.vs1,dat.question)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.vs2}}</h3>

      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.vs2,dat.question)">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>


  <ion-card  style="margin:10px;"  color="primary">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer}}</h3>

      </ion-label>
   
    </ion-item>
  </ion-card>


       
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides #slides [options]="slideAchivement" pager="false" >
    <ion-slide *ngFor="let dat of answer3">
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
      
        <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>Yes</h3>
      </ion-label>
      <ion-button color="primary" size="small" slot="end"  (click)="action3('Yes',dat.question)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>No</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end"  (click)="action3('No',dat.question)">
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="primary" >
      <ion-label>
        <h3>{{dat.answer}}</h3>
        
      </ion-label>
      
    </ion-item>
  </ion-card>


       
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
