<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dat of response">
    <img alt="Silhouette of mountains" src="assets/homepage/warehouse.jpg"  />  
    <ion-card-content>
      <ion-item>
        <ion-label>Total Inventory</ion-label>
        <ion-text>{{dat.total}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Purchase Order</ion-label>
        <ion-text>{{dat.po_raised}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Scooter</ion-label>
        <ion-text>{{dat.scooty}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Bikes</ion-label>
        <ion-text>{{dat.bike}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <a href="assets/home_banner/evra.png" download><ion-button color="danger">download</ion-button></a> -->
  <!-- <ion-card >
    <ion-card-header color="danger">Cart</ion-card-header>
    <ion-card-content>
      <ion-item>
     <ion-label>  <ion-button color="danger" (click)="openPage('/cartview')">Total Cart Request</ion-button></ion-label>
        <ion-text>{{total.total}}</ion-text>
      </ion-item>
   
    </ion-card-content>
  </ion-card>
 
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="openPage('/po')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


</ion-content>
