<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <img alt="Silhouette of mountains" src="assets/homepage/warehouse.jpg"  />  
    <ion-card-content>
   
      <ion-item>
        <ion-label>Total Inventory</ion-label>
        <ion-text>35</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Orders</ion-label>
        <ion-text>100</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Scooter</ion-label>
        <ion-text>12</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Bikes</ion-label>
        <ion-text>15</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
