<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dat of response">
    <img alt="Silhouette of mountains" src="https://evramedia.com/apifolder/catalog/14.png"  />  
    <ion-card-content>
      <ion-item>
        <ion-label>Total Inventory</ion-label>
        <ion-text>{{dat.total}}</ion-text>
      </ion-item>
      <ion-item>
     <ion-label>  <ion-button color="danger" >Purchase Order</ion-button> </ion-label>
        <ion-text>{{dat.po_raised}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('EX1')">EX1</ion-button></ion-label>
        <ion-text>{{dat.ex1}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('EX2')">EX2</ion-button></ion-label>
        <ion-text>{{dat.ex2}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('EX2plus')">EX2+</ion-button></ion-label>
        <ion-text>{{dat.ex2plus}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('EX3')">EX3</ion-button></ion-label>
        <ion-text>{{dat.ex3}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('EX3plus')">EX3+</ion-button></ion-label>
        <ion-text>{{dat.ex3plus}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('HELTER')">HELTER</ion-button></ion-label>
        <ion-text>{{dat.helter}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('MINE')">MINE</ion-button></ion-label>
        <ion-text>{{dat.mine}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('SPARKLE')">SPARKLE</ion-button></ion-label>
        <ion-text>{{dat.sparkle}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('SPARKLE(DB)')">SPARKLE(DB)</ion-button></ion-label>
        <ion-text>{{dat.sparkledb}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="varcount('LUSTER')">LUSTER</ion-button></ion-label>
        <ion-text>{{dat.luster}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <a href="assets/home_banner/evra.png" download><ion-button color="danger">download</ion-button></a> -->
  <!-- <ion-card >
    <ion-card-header color="danger">Cart</ion-card-header>
    <ion-card-content>
      <ion-item>
     <ion-label>  <ion-button color="danger" (click)="openPage('/cartview')">Total Cart Request</ion-button></ion-label>
        <ion-text>{{total.total}}</ion-text>
      </ion-item>
   
    </ion-card-content>
  </ion-card>
 
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="openPage('/po')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


</ion-content>
