<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let dat of response" >
    <img src="assets/homepage/complaint.jpg"  />  
    <ion-card-content>
      <ion-item>
        <ion-label>Total Complaints</ion-label>
        <ion-text>{{dat.total}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" (click)="openPage('/opencomplaints')">Open complaints</ion-button> </ion-label>
        <ion-text>{{dat.Open}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label> <ion-button color="danger" (click)="openPage('/closedcomplaint')">Closed complaints</ion-button></ion-label>
        <ion-text>{{dat.Closed}}</ion-text>
      </ion-item>
    
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="openPage('/addcomplaints')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

    
  


  <div style="padding-bottom: 80px;"></div>


