<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>complaints</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <img src="assets/homepage/complaint.jpg"  />  
    <ion-card-content>
   
      <ion-item>
        <ion-label>Total Complaints</ion-label>
        <ion-text>35</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Open </ion-label>
        <ion-text>10</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>CLosed</ion-label>
        <ion-text>25</ion-text>
      </ion-item>
    
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-button color="danger" (click)="openPage('/addcomplaints')">Raise complaint</ion-button>
    <ion-button color="success">Open complaint</ion-button>
    <ion-button color="secondary">Old complaint</ion-button>
  </ion-item>


  <div style="padding-bottom: 80px;"></div>


