<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/homepage/complaint.jpg" />
    <ion-card-header>

    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>Total Complaints Raised</ion-label>
        <ion-text>35</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Open Tickets</ion-label>
        <ion-text>10</ion-text>
      </ion-item>
     
      <ion-item>
        <ion-label>Solved Tickets</ion-label>
        <ion-text>20</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
