<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title>Dealer Profile</ion-title>
    <ion-buttons slot="end" (click)="openPage('/dashboard')">
      <ion-icon name="arrow-back" ></ion-icon>Back
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header color="danger" style="text-align: center;">{{userprofile.user_type}} ID : {{getuserdata.id}}</ion-card-header>  
       <ion-card-content>
        <ion-accordion-group [multiple]="true" [value]="['first']">
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>{{userprofile.user_type}}ship Name</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.dealership_name}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Outlet Code</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.outlet_code}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Address</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.address}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Email</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.email}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Phone</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.phone}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>GST</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.gst}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>PAN</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{userprofile.pan}}</div>
          </ion-accordion>

          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Security Deposit</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">INR {{userprofile.s_deposit}}</div>
          </ion-accordion>
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Credit Limit</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">INR {{userprofile.credit_limit}}</div>
          </ion-accordion>
        </ion-accordion-group>
       </ion-card-content>
     </ion-card>
   
  
  <!-- <section class="inputbox">
    <ion-text color="danger">Dealer Name</ion-text>
    <ion-item lines="none">
    <ion-input type="text" placeholder="{{getuserdata.name}}" readonly=""> </ion-input>
    </ion-item>
  </section> 
  <section class="inputbox">
    <ion-text color="danger">Email</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="{{getuserdata.email}}" ></ion-input>
    </ion-item>
  </section>
  <section class="inputbox">
    <ion-text color="danger">Phone</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="{{getuserdata.phone}}" ></ion-input>
    </ion-item>
  </section>
  <ion-row>
    <ion-col >
      <ion-button expand="block" color="danger" shape="round">Update Profile <ion-icon name="send-outline" slot="end"></ion-icon> </ion-button>
    </ion-col>
  </ion-row> -->

  <!-- <form  [formGroup]="form">

  <section class="inputbox">
    <ion-text color="danger">Old Password</ion-text>
    <ion-item lines="none">
    <ion-input type="text" placeholder="Enter Old Password" formControlName="o_pass"> </ion-input>
    </ion-item>
  </section> 
  <section class="inputbox">
    <ion-text color="danger">New Password</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Enter New Password" formControlName="n_pass" ></ion-input>
    </ion-item>
  </section>
  <section class="inputbox">
    <ion-text color="danger">Confirm New Password</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Re-enter New Password" formControlName="r_n_pass"></ion-input>
    </ion-item>
  </section>
  <ion-row>
    <ion-col >
      <ion-button expand="block" color="danger" shape="round" (click)="presentAlert()"  [disabled]="form.invalid">Update Password <ion-icon name="send-outline" slot="end"></ion-icon> </ion-button>
    </ion-col>
  </ion-row>
</form> -->

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="danger" (click)="openPage('/dashboard')">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
