<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>site.tab4</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<form [formGroup]="form">
  <section class="inputbox">
    <ion-text color="primary" translate >site.remarks</ion-text>
    <ion-item lines="none">
      <ion-textarea rows="4" placeholder="Enter Remarks..." formControlName="remark"></ion-textarea>
    </ion-item>
  </section>

    <ion-row>
    <ion-col >
      <ion-button expand="block" shape="round" (click)="submit()" [disabled]="form.invalid"> <ion-text translate> site.submitcomplaint</ion-text>  </ion-button>
    </ion-col>
  </ion-row>
</form>
 

  
  
  
  <div style="height:150px;width:100%;padding:10px">
    <img src="https://www.callcentrehelper.com/images/stories/2021/08/complaints-427941316-760.gif" style="height:100%;width:100%">
  </div>

  <div style="padding-bottom: 80px;"></div>
  

</ion-content>
