<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true" id="open-modal" expand="block"  >
    <ion-fab-button fill="outline" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button> 
  </ion-fab>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="tab1">
      <!-- <ion-badge color="primary">22k</ion-badge> -->
      <img src="assets/icon/dashboard.png" style="height: 30px;">

      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab2" class="comments">
      <ion-badge color="primary">{{complaintcount}}</ion-badge>
      <img src="assets/icon/report.png" style="height: 30px;">

      <!-- <ion-label> dd </ion-label> -->
    </ion-tab-button>
    <svg height="50" viewBox="0 0 100 50"  xmlns="http://www.w3.org/2000/svg" ><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
    <ion-tab-button tab="tab3" class="notifs">
      <ion-badge color="primary">{{poll_count}}</ion-badge>
      <img src="assets/icon/poll.png" style="height: 30px;">

      <!-- <ion-label>Poll's</ion-label> -->
    </ion-tab-button>
    
    <ion-tab-button tab="tab4">
      <ion-badge color="primary">{{techerror_count}}</ion-badge>
      <img src="assets/icon/customer-support.png" style="height: 30px;">

    <!-- <ion-label>d</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

<!-- 
<ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.5"  [backdropDismiss]="false" >
  <ng-template>
    <ion-header >
      <ion-toolbar color="light" color="primary">
        <ion-title  translate>site.volunteer</ion-title>
        <ion-icon name="close-outline" (click)="setOpen(false)"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" >
     
      <ion-row >
        <ion-col class="ion-text-center quickLink"  >
        
          <ion-text class="text" style="font-size: 16px;" color="primary">You havent selected any volunteer yet!<br>
          click below and select 
        </ion-text>
        </ion-col>
      
      </ion-row>

  <ion-row >
    <ion-col size="6" class="ion-text-center quickLink"  (click)="redirect()">
      <ion-card class="card"  *ngFor="let dat of quickLink" >
        <img [src]="dat.icon">
      </ion-card>
    </ion-col>
  
  </ion-row>

 


    </ion-content>
  </ng-template>
</ion-modal> -->

<ion-modal #modal trigger="open-modal"  [initialBreakpoint]="0.5" >
 

  <ng-template>
    <ion-header >
      <ion-toolbar color="light" color="primary">
        <ion-title  translate style="text-align: center;">site.volunteer</ion-title>
        <ion-icon name="close-outline" (click)="modal.dismiss()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" *ngIf="myfun" >
     
      <ion-row >
        <ion-col class="ion-text-center quickLink"  >
        
          <ion-text class="text" style="font-size: 16px;" color="primary" translate>site.selectvolunteer<br>
       site.clickbelow
        </ion-text>
        </ion-col>
      
      </ion-row>

  <ion-row >
    <ion-col size="6" class="ion-text-center quickLink"  (click)="redirect()" (click)="modal.dismiss()">
      <ion-card class="card"  *ngFor="let dat of quickLink" >
        <img [src]="dat.icon">
      </ion-card>
    </ion-col>
  
  </ion-row>
    </ion-content>

    <ion-content class="ion-padding" *ngIf="myfun2" >
<!--      
      <ion-row >
        <ion-col class="ion-text-center quickLink"  >
        
          <ion-text class="text" style="font-size: 16px;" color="primary"  (click)="redirect()" (click)="modal.dismiss()" translate >site.clicktochange
        </ion-text>
        </ion-col>
      
      </ion-row> -->

  <ion-row >
  

    <ion-col size="6" class="ion-text-center quickLink" >
      <ion-card class="card" style="height: 120px;"  >
        <img src="{{myvolunteer.image}}" style="height: 100%;">
      </ion-card>
      <ion-text color="primary">{{myvolunteer.name}}</ion-text>

    </ion-col>
    <ion-col size="6" class="ion-text-center quickLink"  (click)="redirect()" (click)="modal.dismiss()">
      <ion-card class="card" style="height: 120px;"  >
        <img src="https://icons.veryicon.com/png/o/education-technology/alibaba-big-data-oneui/new-page-add.png" style="height: 100%;">
      </ion-card>
      <ion-text color="primary"translate >site.clicktochange </ion-text>
    </ion-col>
    <!-- <ion-col size="6"  (click)="redirect()" (click)="modal.dismiss()">
   
      <ion-item lines="none">
        <ion-text color="primary">{{myvolunteer.name}}</ion-text>
      </ion-item>
      <ion-item   lines="none"> 
        <ion-text color="primary">{{myvolunteer.state}}</ion-text>
        
      </ion-item>
      <ion-item  lines="none">
        
        <ion-text color="primary">{{myvolunteer.city}}</ion-text>
      </ion-item>
      



    </ion-col> -->
  
  </ion-row>

    </ion-content>

  </ng-template>
</ion-modal>
</ion-tabs>


