<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-title>Advertisement</ion-title>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width:97%;height:150px;margin:5px 5px;">
    <img src="https://evramedia.com/apifolder/catalog/14.png" style="height:100%;width:100%; border-radius: 15px;">
  </div>

  <ion-row >
    <ion-col size="6" class="ion-text-center quickLink"  >
      <ion-card class="card" style="height: 100px;" style = "height: 120px;"  id="open-modal" > 
        <ion-card-header color="danger">Mobile Van</ion-card-header><br>
        <ion-text style="font-size : 13px;">Total</ion-text><br>
        <ion-text style="text-align: center; font-size:12px;">2</ion-text>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="ion-text-center quickLink"  >
      <ion-card class="card" style="height: 100px;" style = "height: 120px;" id="open-modal2"> 
        <ion-card-header color="danger">Add set up</ion-card-header><br>
        <ion-text style="font-size : 13px;">Total</ion-text><br>
        <ion-text style="text-align: center; font-size:12px;">2</ion-text>
      </ion-card>
    </ion-col>
     
  </ion-row>
</ion-content>
