<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>site.tab2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-text translate >
    site.Title 
  </ion-text>
  <ion-text translate >
    site.description
  </ion-text> -->

  <form [formGroup]="form">

    <ion-input type="hidden" formControlName="user_id" placeholder="{{getuserdata.u_id}}" value="{{getuserdata.u_id}}"></ion-input>

  <section class="inputbox">
    <ion-text color="primary" translate>site.topic</ion-text>
    <ion-item lines="none">
    <ion-input type="text" placeholder="Enter Topic" formControlName="topic"></ion-input>
    </ion-item>
  </section>

  <section class="inputbox">
    <ion-text color="primary" translate>site.priority</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover" formControlName="priority" placeholder="Select Priority ">
        <ion-select-option  translate>site.priority1</ion-select-option>
        <ion-select-option translate>site.priority2</ion-select-option>
        <ion-select-option translate >site.priority3</ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <section class="inputbox">
    <ion-text color="primary" translate>site.state</ion-text>
    <ion-item lines="none">
      <ion-select placeholder="Select Your State" formControlName="state" (ionChange)="getcity()">
        <ion-select-option  *ngFor="let dat of st">{{dat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
   

  </section>

  <section class="inputbox"  *ngIf="myfun">
    <ion-text color="primary" translate>site.city</ion-text>
    <ion-item lines="none">
      <ion-select placeholder="Select Your City" formControlName="city" >
        <ion-select-option  *ngFor="let dat of ci2 ">{{dat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <section class="inputbox">
    <ion-text color="primary" translate>site.remarks</ion-text>
    <ion-item lines="none">
      <ion-textarea rows="4" placeholder="Enter Remarks..." formControlName="remarks"></ion-textarea>
    </ion-item>
  </section>
<ion-input type="hidden" formControlName="file" value="{{imageSource}}" placeholder="{{imageSource}}"></ion-input>
<ion-button fill="clear"  (click)="opencam()"  >
    <ion-icon size="small" name="attach-outline" slot="start"></ion-icon><ion-text translate>site.attachment</ion-text>
  </ion-button> 
  <ion-text *ngIf="im2" color="success" translate >site.uploaded</ion-text>

    <ion-row>
    <ion-col >
      <ion-button expand="block" shape="round" (click)="submit()" [disabled]="form.invalid" >
      <ion-text translate>site.submitcomplaint</ion-text> 
       </ion-button>
    </ion-col>
  </ion-row>

  
  </form>
  
  <div style="height:150px;width:100%;padding:10px">
    <img src="https://www.callcentrehelper.com/images/stories/2021/08/complaints-427941316-760.gif" style="height:100%;width:100%">
  </div>

  <div style="padding-bottom: 80px;"></div>
  

</ion-content>
