<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>site.tab3</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides #slides [options]="slideAchivement" pager="false" >
    <ion-slide *ngFor="let dat of question" >
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
        <!-- <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
          </ion-col>
        </ion-row> -->
        <ion-row >
          <ion-col class="ion-text-center">
 

            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
            <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b'}">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer1}}</h3>

      </ion-label>
      <ion-button size="small" slot="end" (click)="action(dat.answer1,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer2}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.answer2,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer3}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.answer3,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.answer4}}</h3>
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.answer4,dat.question)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card color="primary"  style="margin:10px;"  (click)="setOpen(true)" (click)="openmodal(dat.question,dat.id)" >
    <ion-item lines="none" color="none">
      <ion-label>
        <h3 translate>site.viewstats</h3>

        
      </ion-label>
     
    </ion-item>
  </ion-card>

<!-- 
  <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#F2EAFA; margin:10px">
    <ion-row>
      <h5><ion-text color="dark">People's Vote</ion-text></h5>
      <apx-chart [series]="series" [chart]="chart"></apx-chart>
    </ion-row>
  </ion-card> -->
       
      </div>
    </ion-slide>
  </ion-slides>






  <!-- <div class="br"></div> -->
<!-- 
  <ion-card *ngFor="let dat of comment" style="margin:10px;"  [ngStyle]="{'background-color': dat.bg }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.name}}</h3>
        <p>{{dat.status}}</p>
      </ion-label>
      <ion-button color="primary" size="small" slot="end">{{dat.date}}</ion-button>
    </ion-item>
  </ion-card> -->



  <ion-slides #slides [options]="slideAchivement" pager="false" >
    <ion-slide *ngFor="let dat of question2">
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
        <!-- <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
          </ion-col>
        </ion-row> -->
        <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
            <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.vs1}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.vs1,dat.question)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>{{dat.vs2}}</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end" (click)="action(dat.vs2,dat.question)">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
   
  <ion-card color="primary"  style="margin:10px;"  (click)="setOpen1(true)" (click)="openmodal(dat.question,dat.id)" >
    <ion-item lines="none" color="none">
      <ion-label>
        <h3 translate>site.viewstats</h3>

        
      </ion-label>
     
    </ion-item>
  </ion-card>

       
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides #slides [options]="slideAchivement" pager="true" >
    <ion-slide *ngFor="let dat of question3">
      <div style="width:100%;border-radius: 8px;margin:10px;border:1px solid var(--ion-color-medium);margin-top:30px;margin-bottom:30px;box-shadow:2px 0px 9px #a89d9d;position:relative">
        <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px">
        <!-- <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
          </ion-col>
        </ion-row> -->
        <ion-row >
          <ion-col class="ion-text-center">
            <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{dat.question}}</ion-text><br>
            <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
          </ion-col>
        </ion-row>
       
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>Yes</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end"  (click)="action('Yes',dat.question)">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
    <ion-item lines="none" color="none">
      <ion-label>
        <h3>No</h3>
        
      </ion-label>
      <ion-button color="primary" size="small" slot="end"  (click)="action('No',dat.question)">
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card color="primary"  style="margin:10px;"  (click)="setOpen3(true)" (click)="openmodal(dat.question,dat.id)" >
    <ion-item lines="none" color="none">
      <ion-label>
        <h3 translate>site.viewstats</h3>
        
      </ion-label>
     
    </ion-item>
  </ion-card>

       
      </div>
    </ion-slide>
  </ion-slides>

<!--   
  <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#F2EAFA; margin:10px">
    <ion-row>
      <h5><ion-text color="dark">People's Vote</ion-text></h5>
      <apx-chart [series]="series" [chart]="chart"></apx-chart>
    </ion-row>
  </ion-card> -->



  <div style="height:150px;width:100%;padding:10px">
    <img src="assets/home_banner/3.png" style="height:100%;width:100%">
  </div>
  <div style="padding-bottom: 80px;"></div> 

  
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title translate>site.viewpoll</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      
            
            <div *ngIf="hide" >
              <!-- <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px"> -->
              <!-- <ion-row >
                <ion-col class="ion-text-center">
                  <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
                </ion-col>
              </ion-row> -->
              <ion-row >
                <ion-col class="ion-text-center">
      
                  <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{questions.question}}</ion-text><br>
                  <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
                </ion-col>
              </ion-row>
             
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b'}">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3 >{{questions.answer1}}</h3>
      
            </ion-label>
            <ion-button size="small" slot="end" (click)="action2(questions.answer1,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer2}}</h3>
              
            </ion-label>
            <ion-button color="primary" size="small" slot="end" (click)="action2(questions.answer2,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer3}}</h3>
              
            </ion-label>
            <ion-button color="primary" size="small" slot="end" (click)="action2(questions.answer3,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer4}}</h3>
              
            </ion-label>
            <ion-button color="primary" size="small" slot="end" (click)="action2(questions.answer4,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      
        <ion-card  style="margin:10px;" color="primary">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer}}</h3>
            </ion-label>
           
          </ion-item>
        </ion-card>
      
      
        <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#f0da93; margin:10px">
          <ion-row>
        
            <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis"></apx-chart>
            
          </ion-row>
        </ion-card>
      
        
            </div>
        

            <div *ngIf="hide2" >
              <!-- <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px"> -->
              <!-- <ion-row >
                <ion-col class="ion-text-center">
                  <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
                </ion-col>
              </ion-row> -->
              <ion-row >
                <ion-col class="ion-text-center">
      
                  <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{questions.question}}</ion-text><br>
                  <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
                </ion-col>
              </ion-row>
             
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b'}">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3 >{{questions.vs1}}</h3>
      
            </ion-label>
            <ion-button size="small" slot="end" (click)="action2(questions.vs1,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.vs2}}</h3>
              
            </ion-label>
            <ion-button color="primary" size="small" slot="end" (click)="action2(questions.vs2,questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
     
      
        <ion-card  style="margin:10px;" color="primary">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer}}</h3>
            </ion-label>
           
          </ion-item>
        </ion-card>
      
      
        <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#f0da93; margin:10px">
          <ion-row>
        
            <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis"></apx-chart>
            
          </ion-row>
        </ion-card>
      
        
            </div>
        
       
            <div *ngIf="hide3" >
              <!-- <img src="assets/homepage/achvement.png" style="height:50px;width:50px;margin-top:-25px"> -->
              <!-- <ion-row >
                <ion-col class="ion-text-center">
                  <ion-text color="medium" style="font-size:60%">{{dat.type}}</ion-text><br>
                </ion-col>
              </ion-row> -->
              <ion-row >
                <ion-col class="ion-text-center">
      
                  <ion-text color="dark" style="font-size:90%;font-weight: 600;">{{questions.question}}</ion-text><br>
                  <!-- <ion-text color="medium" style="font-size:60%;font-weight: 600;">{{dat.stream}}</ion-text> -->
                </ion-col>
              </ion-row>
             
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b'}">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3 >Yes</h3>
      
            </ion-label>
            <ion-button size="small" slot="end" (click)="action2('Yes',questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
        <ion-card  style="margin:10px;"  [ngStyle]="{'background-color': '#f1c84b' }">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>No</h3>
              
            </ion-label>
            <ion-button color="primary" size="small" slot="end" (click)="action2('No',questions.question)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      
      
        <ion-card  style="margin:10px;" color="primary">
          <ion-item lines="none" color="none">
            <ion-label>
              <h3>{{questions.answer}}</h3>
            </ion-label>
           
          </ion-item>
        </ion-card>
      
      
        <ion-card style="padding-bottom:10px;padding-left:10px;border:2px solid #a07a07;background-color:#f0da93; margin:10px">
          <ion-row>
        
            <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis"></apx-chart>
            
          </ion-row>
        </ion-card>
      
        
            </div>
        
      
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
