<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Open Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dat of response">
 <ion-card-header color="danger" style="text-align: center;">{{dat.topic}}</ion-card-header>  
    <ion-card-content>
      <ion-item>
        <ion-label>Complaint Id</ion-label>
        <ion-text>{{dat.complaint_id}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Status </ion-label>
        <ion-text>{{dat.status}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Open Date</ion-label>
        <ion-text>{{dat.c_date}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Open Time</ion-label>
        <ion-text>{{dat.c_time}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card >
    <ion-card-header color="danger" style="text-align: center;">Battery Issue</ion-card-header>  
       <ion-card-content>
         <ion-item>
           <ion-label>Complaint Id</ion-label>
           <ion-text>0036</ion-text>
         </ion-item>
         <ion-item>
           <ion-label>Status </ion-label>
           <ion-text>Open</ion-text>
         </ion-item>
         <ion-item>
           <ion-label>Open Time</ion-label>
           <ion-text>2 Days</ion-text>
         </ion-item>
       
       </ion-card-content>
     </ion-card>
     <ion-card >
      <ion-card-header color="danger" style="text-align: center;">Charger Issue</ion-card-header>  
         <ion-card-content>
           <ion-item>
             <ion-label>Complaint Id</ion-label>
             <ion-text>0037</ion-text>
           </ion-item>
           <ion-item>
             <ion-label>Status </ion-label>
             <ion-text>Open</ion-text>
           </ion-item>
           <ion-item>
             <ion-label>Open Time</ion-label>
             <ion-text>2 Days</ion-text>
           </ion-item>
         
         </ion-card-content>
       </ion-card> -->

</ion-content>
