<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openPage('/dashboard')">
      <ion-icon name="arrow-back" ></ion-icon>Back
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form [formGroup]="form">
    <section class="inputbox">
      <ion-text color="danger">Dealer Name</ion-text>
      <ion-item lines="none">
      <ion-input type="text" placeholder="Nikhil Chaudhary" value="Nikhil"  readonly="" formControlName="name"> </ion-input>
      </ion-item>
    </section> <section class="inputbox">
      <ion-text color="danger">Location</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Enter Location" formControlName="location" ></ion-input>
      </ion-item>
    </section>
   
    <section class="inputbox">
      <ion-text color="danger">Your Designation ?</ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="designation">
          <ion-select-option value="Employee">Employee</ion-select-option>
          <ion-select-option value="Dealer">Dealer</ion-select-option>
          <ion-select-option value="dub_dealer">Sub-Dealer</ion-select-option>
        </ion-select>
      </ion-item>
    </section>
     
    <section class="inputbox">
      <ion-text color="danger">How many vehicles do you sell ?</ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="no_of_vehicles">
          <ion-select-option value="05-10">05-10</ion-select-option>
          <ion-select-option value="11-15">11-15</ion-select-option>
          <ion-select-option value="15-20">15-20</ion-select-option>
        </ion-select>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger">How long do you have been with us ?</ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="duration">
          <ion-select-option value="1-3">1-3 years</ion-select-option>
          <ion-select-option value="3-5">3-5 years</ion-select-option>
          <ion-select-option value="5-7">5-7 years</ion-select-option>
        </ion-select>
      </ion-item>
    </section>

    <section class="inputbox">
      <ion-text color="danger">Do you sell any other electric vehicle ?</ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="any_other_vehicle">
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
          
        </ion-select>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger">Which features of the EVRA Electric Vehicles do you think are most important to customers? </ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="features">
          <ion-select-option value="Range">Range</ion-select-option>
          <ion-select-option value="Price">Price</ion-select-option>
          <ion-select-option value="Style">Style</ion-select-option>
          <ion-select-option value="Top Speed">Top Speed</ion-select-option>
          <ion-select-option value="Safety">Safety</ion-select-option>
          <ion-select-option value="Acceleration">Acceleration</ion-select-option>
          <ion-select-option value="Ease Of riding">Ease of riding</ion-select-option>
        </ion-select>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger">Which of the following administrative areas would you say presents the greatest opportunity for improvement? </ion-text>
      <ion-item lines="none">
        <ion-select interface="popover" placeholder="Select option" formControlName="improvement">
          <ion-select-option value="Order Processing">Order Processing</ion-select-option>
          <ion-select-option value="Transportation">Transportation</ion-select-option>
          <ion-select-option value="Services">Services</ion-select-option>
          <ion-select-option value="Spare Parts">Spare Parts</ion-select-option>
          <ion-select-option value="Finance">Finance</ion-select-option>
          
        </ion-select>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger"> If you have any suggestions/problems related to Order Processing, please write it below.</ion-text>
      <ion-item lines="none">
        <ion-textarea rows="4" placeholder="Write here..." formControlName="p_remark"></ion-textarea>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger">If you have any suggestions/problems related to Transportation, please write it below.</ion-text>
      <ion-item lines="none">
        <ion-textarea rows="4" placeholder="Write here..." formControlName="t_remark"></ion-textarea>
      </ion-item>
    </section>

    <section class="inputbox">
      <ion-text color="danger"> If you have any suggestions/problems related to Services, please write it below.</ion-text>
      <ion-item lines="none">
        <ion-textarea rows="4" placeholder="Write here..." formControlName="s_remark"></ion-textarea>
      </ion-item>
    </section>
    <section class="inputbox">
      <ion-text color="danger">  If you have any suggestions/problems related to Spare Parts, please write it below</ion-text>
      <ion-item lines="none">
        <ion-textarea rows="4" placeholder="Write here..." formControlName="spare_part_remark"></ion-textarea>
      </ion-item>
    </section>
    <!-- <ion-button fill="clear">
      <ion-icon size="small" name="attach-outline" slot="start"></ion-icon> Attach Photo
    </ion-button> -->

    <section class="inputbox">
      <ion-text color="danger"> If you have any suggestions/problems related to Finance, please write it below.</ion-text>
      <ion-item lines="none">
        <ion-textarea rows="4" placeholder="Write here..." formControlName="f_remark"></ion-textarea>
      </ion-item>
    </section>
 
    <section class="inputbox" >
      <ion-text color="danger">Rate Us</ion-text>

      <ion-list lines="none">
        <ion-item lines="none">
          <ion-select interface="popover" placeholder="Select option" formControlName="rating">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </section>    
    <ion-row>
      <ion-col >
        <ion-button expand="block" color="danger" shape="round" (click)="submit()" [disabled]="form.invalid">Submit Feedback <ion-icon name="send-outline" slot="end"></ion-icon> </ion-button>
      </ion-col>
    </ion-row>
  </form>
    
    
</ion-content>
