<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <img alt="Silhouette of mountains" src="assets/homepage/warehouse.jpg" />
    <ion-card-header>
      <ion-card-title>Service</ion-card-title>
    
    </ion-card-header>
 
  </ion-card>  -->
  <ion-card >
    <ion-card-header color="danger" style="font-weight: bold; text-align: center;">Replacement / Repair</ion-card-header>
    <ion-card-content>
      <ion-item>
     <ion-label> Battery </ion-label>
        <ion-text>
          <ion-button color="danger" (click)="openpage('Battery')">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Motor</ion-label>
        <ion-text>
          <ion-button color="danger"  (click)="openpage('Motor')">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Charger</ion-label>
        <ion-text>
          <ion-button color="danger"  (click)="openpage('Charger')">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Controller</ion-label>
        <ion-text>
          <ion-button color="danger"  (click)="openpage('Controller')">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-text>
      </ion-item>
    
     
    </ion-card-content>
  </ion-card>
</ion-content>
