<ion-content >
  <div style="height:90%;width:100%; background-image: url(assets/login/logo.jpg);background-repeat: no-repeat;background-size: 100%;"></div>
  <ion-row style="position:absolute; bottom:0px;width:100%">
    <ion-col class="ion-text-center" size="12">
      <div style="margin-top:30px;">
        
        <ion-label color="primary" style="font-weight:bold;">
       Already have an account ?  <ion-text color="dark" (click)="openPage('/login')">Login</ion-text></ion-label>
        <!-- <img src="assets/homepage/menu_icon.svg" > -->
      </div>
    </ion-col>
  </ion-row>
  
  </ion-content>
  <ion-footer class="ion-no-border">
    <form [formGroup]="form">
    <ion-toolbar>
      <section class="inputbox">
        <ion-item lines="none">
          <ion-input type="text"  placeholder="Name" formControlName="name"> </ion-input>
          <ion-button slot="end" fill="clear">
            <ion-icon name="phone-portrait-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="email"  placeholder="Email Id" formControlName="email" ngModel email="true"> </ion-input>
          <ion-button slot="end" fill="clear">
        <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="number" maxlength="10"  placeholder="Mobile No" formControlName="phone"> </ion-input>
          <ion-button slot="end" fill="clear">
            <ion-icon name="phone-portrait-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-select interface="popover"  placeholder="Select User Type" formControlName="usertype">
            <ion-select-option value="C & F">C & F</ion-select-option>
            <ion-select-option value="Super Stockist">Super Stockist</ion-select-option>
            <ion-select-option value="Dealer">Dealer</ion-select-option>
            <ion-select-option value="Sub_Dealer">Sub-Dealer</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password"  placeholder="Password" formControlName="password"> </ion-input>
          <ion-button slot="end" fill="clear">
          </ion-button>
        </ion-item>

      </section>

    </ion-toolbar>
    <ion-toolbar >
      <ion-row >
        <ion-col >
          <ion-button shape="round" expand="block" color="danger" (click)="signup()" [disabled]="form.invalid">Sign up <ion-icon name="log-in-outline" slot="end"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    
    </ion-toolbar>
  </form>
  </ion-footer>
  