<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Complaint</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card *ngFor="let dat of response" >
    <ion-card-header color="danger" style="text-align: center;">{{dat.topic}}</ion-card-header>  
       <ion-card-content>
         <ion-item>
           <ion-label>Complaint Id</ion-label>
           <ion-text>{{dat.complaint_id}}</ion-text>
         </ion-item>
         <ion-item>
           <ion-label>Status </ion-label>
           <ion-text>{{dat.status}}</ion-text>
         </ion-item>
         <ion-item>
           <ion-label>Open Date</ion-label>
           <ion-text>{{dat.c_date}}</ion-text>
         </ion-item>
         <ion-item>
           <ion-label>Open Time</ion-label>
           <ion-text>{{dat.c_time}}</ion-text>
         </ion-item>
         <ion-item>
          <ion-label>Attachment</ion-label>
          <img src="{{dat.filename}}">
        </ion-item>
        
      
       </ion-card-content>
     </ion-card>
    
</ion-content>
