<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-title>Replacement Cart</ion-title>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <ion-content>
    <ion-card *ngFor="let dat of response" (click)="open(dat.part_no)" >
   <ion-card-header color="danger" style="text-align: center;">{{dat.part_name}}</ion-card-header>  
      <ion-card-content>
        <ion-item>
          <ion-label>Id</ion-label>
          <ion-text>{{dat.id}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Part Number</ion-label>
          <ion-text>{{dat.part_no}}</ion-text>
        </ion-item>
       
      </ion-card-content>
    </ion-card>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="danger">
            <ion-title>{{test}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content >
      
        </ion-content>
      </ng-template>
    </ion-modal>
  
</ion-content>
