<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-title>Replacement Cart</ion-title>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <ion-content>
    <ion-card *ngFor="let dat of response" (click)="open(dat.part_no,dat.model,dat.part_name,dat.courier,dat.courier_partner,dat.chassis,dat.docked,dat.remark,dat.warranty_info,dat.warranty,dat.sale_date,dat.file)" >
   <ion-card-header color="danger" style="text-align: center;">{{dat.part_name}}</ion-card-header>  
      <ion-card-content>
        <ion-item>
          <ion-label>Id</ion-label>
          <ion-text>{{dat.id}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Part Number</ion-label>
          <ion-text>{{dat.part_no}}</ion-text>
        </ion-item>
       
      </ion-card-content>
    </ion-card>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="danger">
            <ion-title>Part Number : {{test}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content >
      
        <ion-item>
          <ion-label>Model:</ion-label>
          <ion-text>{{test2}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Part Name:</ion-label>
          <ion-text> {{part_name}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Courier:</ion-label>
          <ion-text>{{cour}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Courier Partner:</ion-label>
          <ion-text> {{c_p}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Chassis No:</ion-label>
          <ion-text> {{chassis_no}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Docket Number:</ion-label>
          <ion-text> {{docket}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Remarks:</ion-label>
          <ion-text> {{remarks}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Sale Date:</ion-label>
          <ion-text> {{s_d}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Warranty Info:</ion-label>
          <ion-text> {{w_info}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Warranty:</ion-label>
          <ion-text> {{w}}</ion-text>
        </ion-item>
        
        <img src="{{photo}}">
        </ion-content>
      </ng-template>
    </ion-modal>
  
</ion-content>
