<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Purchase Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width:97%;height:150px;margin:5px 5px;">
    <img src="https://evramedia.com/apifolder/catalog/14.png" style="height:100%;width:100%; border-radius: 15px;">
  </div>
  <form [formGroup]="form">

      <ion-input type="hidden" placeholder="{{getuserdata.id}}" readonly="" value="{{getuserdata.id}}" formControlName="name" > </ion-input>
     
      <!-- <section class="inputbox">
      <ion-text color="danger">Business Name</ion-text>
      <ion-item lines="none">
      <ion-input type="text" placeholder="Enter Custsomer Name" formControlName="b_name"></ion-input>
      </ion-item>
    </section> 
    <section class="inputbox">
      <ion-text color="danger">Buisiness Contact Number</ion-text>
      <ion-item lines="none">
      <ion-input type="text" placeholder="Enter Custsomer Phone Number" formControlName="b_mobile"></ion-input>
      </ion-item>
    </section> 
    
    <section class="inputbox">
      <ion-text color="danger">Address</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Enter Location" formControlName="location"></ion-input>
      </ion-item>
    </section>

    <section class="inputbox">
      <ion-text color="danger">Email</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Enter Email Id" formControlName="email"></ion-input>
      </ion-item>
    </section>

    <section class="inputbox">
      <ion-text color="danger">Vendor Address</ion-text>
      <ion-item lines="none">
      <ion-textarea rows="4" placeholder="Evra Energy Private Ltd : Plot No : 12,22 Feet, Bread factory Wali Gali, Indira Complex, sector 87, faridabad, haryana 121002 India." readonly=""></ion-textarea>
      </ion-item>
    </section>

    <section class="inputbox">
      <ion-text color="danger">Vendor GST</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="06AAGCE2678H1ZI" readonly="" ></ion-input>
      </ion-item>
    </section>
     
    <section class="inputbox">
      <ion-text color="danger">PO Number</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Enter PO Number" formControlName="po" ></ion-input>
      </ion-item>
    </section>  -->

    <!-- <section class="inputbox">
      <ion-text color="danger">Model</ion-text>
      <ion-item lines="none">
        <ion-select interface="popover"  placeholder="Select Model Name" formControlName="model_name"  [(ngModel)]="status1" (ionChange)="changeFun()" >
          <ion-select-option *ngFor="let data of modelName" >
            <ion-button>{{data.model}}</ion-button>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </section>

    <section class="inputbox" >
      <ion-text color="danger">Unit Price</ion-text>
      <ion-item lines="none">
        <ion-input type="text" placeholder="{{dataView}}" value="{{dataView}}" formControlName="unit_price" readonly=""></ion-input>
      </ion-item>
    </section>
    
    <section class="inputbox" *ngIf="myfun">
      <ion-text color="danger">Quantity</ion-text>
      <ion-item lines="none">
        <ion-input type="number" placeholder="Enter Quantity" [(ngModel)]="status2" formControlName="quantity" (ionChange)="changeFun2()"></ion-input>
      </ion-item>
    </section>

    <section class="inputbox"  *ngIf="myfun" >
      <ion-text color="danger">Amount</ion-text>
      <ion-item lines="none">
        <ion-input type="number" placeholder="{{dataView2}}" value="{{dataView2}}" formControlName="amount" readonly=""></ion-input>
      </ion-item>
    </section>

    <ion-row>
      <ion-col >
        <ion-button expand="block" color="danger" shape="round" (click)="submit()" [disabled]="form.invalid">Submit <ion-icon name="send-outline" slot="end"></ion-icon></ion-button>
      </ion-col>
    </ion-row> -->
  </form> 
  <!-- <ion-card >
    
       <ion-card-content>
         <ion-item lines="none">
           <ion-label>Cart</ion-label>
           <ion-text>20</ion-text>
         </ion-item>
        
       </ion-card-content>
     </ion-card> -->

     <!-- <ion-row>
      <ion-col size="6">
        <ion-card (click)="updatevalue('EX1')"> 
          <ion-card-header color="danger">EX1</ion-card-header>
          <img src="assets/product/EX1/1.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card   (click)="updatevalue('EX2')" >
          <ion-card-header color="danger">EX2</ion-card-header>
          <img src="assets/product/EX2/1.jpg">
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6">
        <ion-card (click)="updatevalue('EX2+')"> 
          <ion-card-header color="danger">EX2+</ion-card-header>
          <img src="assets/product/EX2+/1.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card   (click)="updatevalue('EX3')" >
          <ion-card-header color="danger">EX3</ion-card-header>
          <img src="assets/product/EX3/1.jpg">
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6">
        <ion-card (click)="updatevalue('EX3+')"> 
          <ion-card-header color="danger">EX3+</ion-card-header>
          <img src="assets/product/EX3+/1.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card   (click)="updatevalue('Luster')" >
          <ion-card-header color="danger">Luster</ion-card-header>
          <img src="assets/product/LUSTER/1.jpg">
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6">
        <ion-card (click)="updatevalue('MINE')"> 
          <ion-card-header color="danger">MINE</ion-card-header>
          <img src="assets/product/MINE/Mine-3.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card   (click)="updatevalue('SPARKLE(DB)')" >
          <ion-card-header color="danger">SPERKLE(DB)</ion-card-header>
          <img src="assets/product/SPARKLE/1.jpg">
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="6">
        <ion-card (click)="updatevalue('HELTER')"> 
          <ion-card-header color="danger">HELTER</ion-card-header>
          <img src="assets/product/HELTER/1.png">
        </ion-card>
      </ion-col>  
      
     </ion-row>
   -->

   <ion-row>
   

    <ion-col size="6">
      <ion-card  id="cart"> 
        <ion-card-header color="danger">Spareparts </ion-card-header>
        <img src="assets/product/sparepart.jpg" style="height: 120px;">
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card  id="product_cart"> 
        <ion-card-header color="danger">Product </ion-card-header>
        <img src="assets/product/MINE/Mine-5.jpg" style="height: 120px;">
      </ion-card>
    </ion-col>
   
   </ion-row>



   
  <ion-modal #modal trigger="cart">
    <ng-template>
      <ion-content>
        <ion-toolbar color="danger">
          <ion-title >Raise Purchase Order</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row>
          <ion-col size="6" *ngFor="let dat of models">
            <ion-card (click)="updatevalue2(dat.name)" (click)="modal.dismiss()"> 
              <ion-card-header color="danger">{{dat.name}}</ion-card-header>
              <img src="https://evramedia.com/apifolder/catalog/{{dat.image}}" style="height: 130px;">
            </ion-card>
          </ion-col>
         
         </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal2 trigger="product_cart">
    <ng-template>
      <ion-content>
        <ion-toolbar color="danger">
          <ion-title >Raise Purchase Order</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal2.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row>
          <ion-col size="6" *ngFor="let dat of models">
            <ion-card (click)="updatevalue(dat.name)" (click)="modal2.dismiss()"> 
              <ion-card-header color="danger">{{dat.name}}</ion-card-header>
              <img src="https://evramedia.com/apifolder/catalog/{{dat.image}}" style="height: 130px;">
            </ion-card>
          </ion-col>
         
         </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
