<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cart1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">

    <ion-input type="hidden" placeholder="{{getuserdata.id}}" readonly="" value="{{getuserdata.id}}" formControlName="name" > </ion-input>
   
   

  <section class="inputbox">
    <ion-text color="danger">Model</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="{{model_name}}" readonly="" value="{{model_name}}" formControlName="model" > </ion-input>
    </ion-item>
  </section>
  <section class="inputbox">
    <ion-text color="danger">Model</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover"  placeholder="Select Model Name" formControlName="color"   >
        <ion-select-option  >
          <ion-button>Yellow</ion-button>
        </ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <!-- <section class="inputbox" >
    <ion-text color="danger">Unit Price</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="{{dataView}}" value="{{dataView}}" formControlName="unit_price" readonly=""></ion-input>
    </ion-item>
  </section>
  
  <section class="inputbox" *ngIf="myfun">
    <ion-text color="danger">Quantity</ion-text>
    <ion-item lines="none">
      <ion-input type="number" placeholder="Enter Quantity" [(ngModel)]="status2" formControlName="quantity" (ionChange)="changeFun2()"></ion-input>
    </ion-item>
  </section>

  <section class="inputbox"  *ngIf="myfun" >
    <ion-text color="danger">Amount</ion-text>
    <ion-item lines="none">
      <ion-input type="number" placeholder="{{dataView2}}" value="{{dataView2}}" formControlName="amount" readonly=""></ion-input>
    </ion-item>
  </section> -->

  <ion-row>
    <ion-col >
      <ion-button expand="block" color="danger" shape="round"  [disabled]="form.invalid">Submit <ion-icon name="send-outline" slot="end"></ion-icon></ion-button>
    </ion-col>
  </ion-row> 
</form> 

</ion-content>
