<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Add complaints</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="inputbox">
    <ion-text color="danger">Dealer Name</ion-text>
    <ion-item lines="none">
    <ion-input type="text" placeholder="Nikhil Chaudhary" readonly=""> </ion-input>
    </ion-item>
  </section> <section class="inputbox">
    <ion-text color="danger">Location</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Enter Location" ></ion-input>
    </ion-item>
  </section>
 
  <section class="inputbox">
    <ion-text color="danger">Your Designation</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover">
        <ion-select-option>Employee</ion-select-option>
        <ion-select-option>Dealer</ion-select-option>
        <ion-select-option>Sub-Dealer</ion-select-option>
      </ion-select>
    </ion-item>
  </section>
   
  <section class="inputbox">
    <ion-text color="danger">How many vehicles do you sell</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover">
        <ion-select-option>05-10</ion-select-option>
        <ion-select-option>11-15</ion-select-option>
        <ion-select-option>15-20</ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <section class="inputbox">
    <ion-text color="danger">Remark</ion-text>
    <ion-item lines="none">
      <ion-textarea rows="4" placeholder="Enter Remarks..."></ion-textarea>
    </ion-item>
  </section>

  <!-- <ion-button fill="clear">
    <ion-icon size="small" name="attach-outline" slot="start"></ion-icon> Attach Photo
  </ion-button> -->

  <ion-row>
    <ion-col >
      <ion-button expand="block" color="danger" shape="round">Submit Compalint <ion-icon name="save-outline" slot="end"></ion-icon> </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
