<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-title>Add Complaints</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
   
    
        <ion-input type="hidden" placeholder="{{getuserdata.id}}" readonly="" value="{{getuserdata.id}}" formControlName="name"> </ion-input>
      
  
  <section class="inputbox">
    <ion-text color="danger">Location</ion-text>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Enter Location" formControlName="location"></ion-input>
    </ion-item>
  </section>

  <ion-input type="hidden" placeholder="{{getuserdata.usertype}}" readonly="" value="{{getuserdata.usertype}}" formControlName="designation"> </ion-input>
  <!-- <section class="inputbox">
    <ion-text color="danger">Your Designation</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover"  placeholder="Select option" formControlName="designation">
        <ion-select-option value="C & F">C & F</ion-select-option>
        <ion-select-option value="Super Stockist">Super Stockist</ion-select-option>
        <ion-select-option value="Dealer">Dealer</ion-select-option>
        <ion-select-option value="sub_dealer">Sub-Dealer</ion-select-option>
      </ion-select>
    </ion-item>
  </section> -->
   
  <section class="inputbox">
    <ion-text color="danger">Topic Of Concern</ion-text>
    <ion-item lines="none">
      <ion-select interface="popover" placeholder="Select option" formControlName="topic" >
        <ion-select-option value="Order Processing">Order Processing</ion-select-option>
        <ion-select-option value="Transportation">Transportion</ion-select-option>
        <ion-select-option value="Services">Services</ion-select-option>
        <ion-select-option value="Spare Parts">Spare Parts</ion-select-option>
        <ion-select-option value="Finance">Finance</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <section class="inputbox">
    <ion-text color="danger">Remark</ion-text>
    <ion-item lines="none">
      <ion-textarea rows="4" maxlength="200" placeholder="Enter Remarks..."  (input)="onRemarkInput()" formControlName="remark"></ion-textarea>
  
    </ion-item>
    <p class="text-end" style="size: 5px;">
      Characters left: {{ remainingCharacters }}
    </p>
  </section>

  
  <!-- <section class="inputbox">
    <ion-text color="danger">Attachment</ion-text>
    <ion-item lines="none">
      <ion-button color="danger"  (click)="opencam()"><ion-icon name="camera" ></ion-icon></ion-button> 
    </ion-item>
  </section> -->

  <section class="inputbox">
    <ion-text color="danger">Attachment</ion-text>
    <ion-item lines="none">
      <!-- <ion-button color="danger"  ><ion-icon name="camera" ></ion-icon></ion-button>  -->
      <input type="file" (change)="uploadPhoto($event)"   />
    </ion-item>
  </section>

  <ion-row>
    <ion-col >
      <ion-button expand="block" color="danger" shape="round" (click)="presentAlert()" [disabled]="form.invalid">Submit Compalint <ion-icon name="send-outline" slot="end"></ion-icon> </ion-button>
    </ion-col>
  </ion-row>
</form> 

</ion-content>
