<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/homepage/sales.jpg" /> 
    <ion-card-content>
      <ion-item>
        <ion-label>Total Sales</ion-label>
        <ion-text>35</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="danger" >Total scooters sold </ion-button> </ion-label>
        <ion-text>100</ion-text>
      </ion-item>
     
      <ion-item>
        <ion-label><ion-button color="danger">Total Bikes Sold</ion-button></ion-label>
        <ion-text>15</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="openPage('/saleform')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

  
</ion-content>
