<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-card *ngFor="let dat of response">
    <!-- <img alt="Silhouette of mountains" src="assets/homepage/sales.jpg" />  -->
    <ion-card-header color="danger">Customer Sales</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Add Cutomer Sale Info</ion-label>
        <ion-text> 
          <ion-button color="danger" (click)="openPage('/saleform')">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Sales</ion-label>
        <ion-text>{{dat.total}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total EX1 sold  </ion-label>
        <ion-text>{{dat.ex1}}</ion-text>
      </ion-item>
     
      <ion-item>
        <ion-label>Total EX2 Sold</ion-label>
        <ion-text>{{dat.ex2}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total EX2+ sold </ion-label>
        <ion-text>{{dat.ex2plus}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total EX3 Sold</ion-label>
        <ion-text>{{dat.ex3}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total EX3+ sold </ion-label>
        <ion-text>{{dat.ex3plus}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Sparkle(DB) Sold</ion-label>
        <ion-text>{{dat.sparkle_db}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Sparkle Sold</ion-label>
        <ion-text>{{dat.sparkle}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total LUSTER sold </ion-label>
        <ion-text>{{dat.luster}}</ion-text>
      </ion-item>
     
      <ion-item>
        <ion-label>Total MINE Sold</ion-label>
        <ion-text>{{dat.mine}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total HELTER Sold</ion-label>
        <ion-text>{{dat.helter}}</ion-text>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card >
   
    <ion-card-header color="danger">Dealer Cart</ion-card-header>
    <ion-card-content>
      <ion-item>
     <ion-label>  <ion-button color="danger" (click)="openPage('/cartview')">Total Cart Request</ion-button></ion-label>
        <ion-text>{{total.total}}</ion-text>
      </ion-item>
   
    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngFor="let dat of data" (click)="land(dat)">
    {{dat}}
  </ion-card> -->
  <div style="padding-bottom:80px"></div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="openPage('/po')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 

  
</ion-content>
